:root {
    --background-color: #c7b055;
    --primary-color: #ffffff;
    --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(182, 25%, 50%));
    --gold1: #b37b00;
    --gold2: #bf8600;
    --gold3: #cb9000;
    --gold4: #fcba3a;
    --black1: #000000;
    --black2: #453312;
    --black3: #261d0d;
}

section {
    margin-top: 15px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 246, 241);
    padding: 20px;
    gap: 40px; 
    flex-wrap: wrap; 
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1rem;
}

span {
    color: var(--gold3);
}
.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.3;
}

.home-img img {
     width: 25vw;
    max-width: 300px; 
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 20%;
    will-change: transform;
}

.home-content p {
    font-size: 1rem;
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--background-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black1);
    margin: 2rem 1rem 1rem 0;
    transition: 0.5s ease;
    text-decoration: none;
}

.social a:hover,
.social a:focus {
    background: var(--black1);
    color: var(--gold4);
    box-shadow: 0 0 10px var(--gold4);
}

@media (max-width: 768px) {
    .home-content h1 {
      font-size: 2.5rem;
    }
    .home-img img {
      width: 60vw; /* image plus large sur mobile */
      max-width: none;
    }
    .home {
      flex-direction: column; /* texte au-dessus de l'image sur mobile */
      gap: 20px;
    }
}