/* ========  1. POLICES & VARIABLES GLOBALES (Thème Noir, Blanc, Or) ======== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --gold: #edb807;        
  --Arriere: #c7b055;
  --PrimaryColor: #ffffff;
  --or1: #b37b00;
  --or2: #bf8600;
  --or3: #cb9000;
  --or4: #fcba3a;
  --black1: #000000;
  --black2: #453312;
  --black3: #261d0d;
  --fond2: #faf4e0;
}

/* ========== 2. RESET CSS & CONFIGURATION DE BASE ========== */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  background-color: var(--primaryColor);
  color: var(--PrimaryColor);
  overflow-x: hidden;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

p {
  padding: 0 10px;
  margin: 10px 0;
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}

/* ==========   3. CLASSES UTILITAIRES GLOBALES ============ */
.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--or1);
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  background-color: var(--or1);
  color: var(--PrimaryColor);
}

.highlight-text {
  color: var(--gold);
}